<% provide(:title, 'New Track') %>

<div class="panel panel-default signup-panel">
	<div class="panel-heading">
		<h2 class="panel-title">Add New Course</h3>
	</div>
	<div class="panel-body">
		<%= form_for(@track) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
				<%= f.text_field :name, class: "form-control Username", placeholder: "Name" %>
			</div>

			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-align-left"></span></span>
				<%= f.text_area :description, class: "form-control", placeholder: "Description", rows: "6", id: "courseDescription" %>
			</div>
			
			<div class="new-course-action">
				<span class="letter-counter"></span>

				<%= f.submit "Create Course", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
	<div class="panel-footer">
	</div>
</div>