<% provide(:title, 'Edit User') %>

<div class="panel panel-default signup-panel">
	<div class="panel-heading">
		<h2 class="panel-title">Update your profile</h3>
	</div>
	<div class="panel-body">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<div class="input-bundle">

				<%= f.label :username %>
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<%= f.text_field :username, class: "form-control", placeholder: "Username" %>
				</div>

				<%= f.label :email %>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
					<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
				</div>

				<%= f.label :name %>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<%= f.text_field :name, class: "form-control", placeholder: "Name (optional)" %>
				</div>


				<%= f.label :location %>
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
					<%= f.text_field :location, class: "form-control", placeholder: "Location (optional)" %>
				</div>
			</div>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
		<div class="edit-gravatar">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="_blank">change</a>
		</div>
	</div>
</div>
