<% provide(:title, 'All Users') %>

<div class="panel panel-default">
  <div class="panel-heading">All Users</div>

  <table class="table table-hover">
    <thead>
    	<th>Username</th>
    	<th>Name</th>
    	<th>Points</th>
    	<th>Location</th>
    	<th>Email</th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
    	<td><%= gravatar_for user, size: 30 %> <%= link_to user.username, user %></td>
    	<td><%= user.name if user.name %></td>
    	<td><%= user.points %></td>
    	<td><%= user.location %></td>
    	<td><%= user.email %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>