<% provide(:title, @user.username) %>

<div class="user-info">
	<% if current_user.admin? && !current_user?(@user) %>
		<%= link_to "delete user", custom_delete_user_path, method: :delete,
		                                    data: { confirm: "You sure?" },
		                                    class: "button-nav button-nav-red action-button-top-right" %>
	<% end %>
	<% if current_user?(@user) %>
		<%= link_to "update profile", custom_edit_user_path(@user), class: "button-nav button-nav-blue action-button-top-right" %>
	<% elsif current_user.admin? %>
		<%= link_to "update profile as admin", custom_edit_user_path(@user), class: "button-nav button-nav-blue action-button-top-right" %>
	<% end %>
	<div class="user-gravatar">
		<%= gravatar_for @user, size: 180, border: true %>
	</div>
	<div class="user-profile-information">
		<h1 class="user-username"><%= @user.username %></h1>
		<% if @user.name %>
			<span class="user-name light-gray"><%= @user.name %></span>
		<% end %>
		<% if @user.location.blank? %>
			<div class="user-location"><span class="glyphicon glyphicon-map-marker"></span> <%= @user.location %></div>
		<% end %>
		<div class="user-points">
			<span class="points-number"><%= '0' %></span> <span class="points-word light-gray">Points</span>
		</div>
	</div>

</div>

<div class="user-lessons">
<% if @user.lessons.any? %>
<h3>Lessons Created</h3>
<ul class="list-group">
<% @user.lessons.all.each do |lesson| %>
	<li class="list-group-item"><%= link_to lesson.name, lesson_path(lesson) %></li>
<% end %>
</ul>
<% end %>
</div>