<% provide(:title, 'Lessons') %>

<% if current_user.admin? || current_user.course_creator? %>
	<%= link_to "Create new tutorial", new_track_tutorial_path, class: "button-nav button-nav-red action-button-top-right" %>
	<%= link_to "Create new lesson", new_track_lesson_path, class: "button-nav button-nav-red action-button-top-right" %>
<% end %>
<%= link_to "Back to Tracks", tracks_path(@course), class: "button-nav button-nav-green action-button-top-right" %>

<h1 class="lessons-index-track-name"><%= @track.name %></h1>

<div class="courses-container">
	<ul class="list-group">
		<% @items.each do |item| %>
			<% if item.class.name == 'Lesson' %>
				<li class="list-group-item"><%= link_to item.name, lesson_path(item) %> 
					<span class="label label-primary">
						<% if item.class.name == 'Lesson' %>Interactive Lesson<% end %> 
					</span>
					<% if current_user.admin? || current_user?(item.user_id) %>
						<%= link_to " delete", delete_lesson_path(item), 
				                                 method: :delete, 
																		     data: { confirm: "You sure?" },
		                                     title: item.name,
		                                     class: "new-academia-action" %>
					<% end %>
					<% if current_user.admin? || current_user.course_creator? %>
						<%= link_to "edit", edit_lesson_path(item), class: "new-academia-action lessons-action" %>
					<% end %>
				</li>
			<% else %>
				<li class="list-group-item"><%= link_to item.name, tutorial_path(item) %> 
					<% if current_user.admin? || current_user?(item.user_id) %>
						<%= link_to " delete", delete_tutorial_path(item), 
				                                 method: :delete, 
																		     data: { confirm: "You sure?" },
		                                     title: item.name,
		                                     class: "new-academia-action" %>
					<% end %>
					<% if current_user.admin? || current_user.course_creator? %>
						<%= link_to "edit", edit_tutorial_path(item), class: "new-academia-action lessons-action" %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>