<% provide(:title, 'Lessons') %>

<% if current_user.admin? || current_user.course_creator? %>
	<%= link_to "Create new lesson", new_track_lesson_path, class: "button button-red action-button-top-right" %>
<% end %>
<%= link_to "Back to Track", tracks_path(@course), class: "button button-red action-button-top-right" %>

<h1><%= @track.name %></h1>

<div class="courses-container">
	<ul class="list-group">
		<% @lessons.each do |lesson| %>
			<li class="list-group-item"><%= link_to lesson.name, lesson_path(lesson) %> 
				<% if current_user.admin? || current_user?(lesson.user_id) %>
					<%= link_to " delete", delete_lesson_path(lesson), 
			                                 method: :delete, 
																	     data: { confirm: "You sure?" },
	                                     title: lesson.name,
	                                     class: "new-academia-action" %>
				<% end %>
				<% if current_user.admin? || current_user.course_creator? %>
					<%= link_to "edit", edit_lesson_path(lesson), class: "new-academia-action lessons-action" %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>