<% provide(:title, @lesson.name) %>

<style type="text/css" media="screen">
#editor {position: absolute;top: 61px;right:300px;bottom:0;left:0;}
#console {position: absolute:left:0;right:300px;bottom:0;}
</style>

<div id="editor"><%= @lesson.starting_content %></div>

<div class="sidebar-lessons">
	<div class="lessons-container">
		<h2 class="lesson-header"><%= @lesson.name %></h2>
		<p class="lesson-description"><%= simple_format(@lesson.content) %></p>
	</div>
	<div class="lesson-task-box">
		<h3 class="center">Task</h3>
		<p class="lesson-task"><%= @lesson.instructions %></p>
	</div>
	<div class="lessons-container">
		<div class="lesson-hints-expand">Hints:</div>
		<div class="lesson-hints-content">
			<%= simple_format(@lesson.hints) %>
		</div>
	</div>
	<div class="lessons-container">
		Created by: <%= gravatar_for @creator, size: 52, circle: true %>
		<% if @creator.name.present? %>
			<%= @creator.name %>
		<% else %>
			<%= @creator.username %>
		<% end %>
	</div>
	<div class="edit-lesson-show">
		<% if current_user.admin? || current_user.course_creator? %>
			<%= link_to "edit lesson", edit_lesson_path(@lesson), class: "button button-red" %>
		<% end %>
		<% if current_user.admin? %>
			<%= link_to "delete lesson", delete_lesson_path(@lesson), class: "button button-red" %>
		<% end %>
	</div>
	<div class="sidebar-submit">
		<%= link_to "Submit Code", '#', class: "button button-green", id: "submit-code" %>
	</div>
</div>

<script>
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/vibrant_ink");
	editor.getSession().setTabSize(2);
	document.getElementById('editor').style.fontSize='14px';
	editor.commands.addCommand({
    name: 'crtl-s',
    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
    exec: function(editor) {
    		if (confirm("Do you want to submit this code?")) {
    			document.getElementById('submit-code').click();
    		}
    },
    readOnly: true
	});
	<%= render 'lessons/set_language_show' %>
</script>

