<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-html.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-css.js" charset="utf-8"></script>
<footer>
	<div class="container">
		<nav>
			<ul class="footer-links">
				<% if signed_in? %>
				<li><%= link_to "Home", 	 dashboard_path %></li>
				<li><%= link_to "About", 	 about_path %></li>
				<li><%= link_to "Help", 	 help_path %></li>
				<li><%= link_to "My Profile", custom_user_path(current_user) %></li>
				<li><%= link_to "Courses", courses_path %></li>
				<% else %>
				<li><%= link_to "Home", 	 root_path %></li>
				<li><%= link_to "About", 	 about_path %></li>
				<li><%= link_to "Help", 	 help_path %></li>
				<li><%= link_to "Sign Up", signup_path %></li>
				<li><%= link_to "Sign In", signin_path %></li>
				<% end %>
			</ul>
		</nav>
		<div class="center">#madeinswagland</div>
	</div>
</footer>