<% if controller.controller_name == "lessons" && controller.action_name == "show" %>
<% else %>
<footer>
	<div class="container">
		<nav>
			<ul class="footer-links">
				<% if signed_in? %>
				<li><%= link_to "Home", 	 dashboard_path %></li>
				<li>|</li>
				<li><%= link_to "About", 	 about_path %></li>
				<li>|</li>
				<li><%= link_to "Help", 	 help_path %></li>
				<li>|</li>
				<li><%= link_to "My Profile", custom_user_path(current_user) %></li>
				<li>|</li>
				<li><%= link_to "Courses", courses_path %></li>
				<% else %>
				<li><%= link_to "Home", 	 root_path %></li>
				<li>|</li>
				<li><%= link_to "About", 	 about_path %></li>
				<li>|</li>
				<li><%= link_to "Help", 	 help_path %></li>
				<li>|</li>
				<li><%= link_to "Sign Up", signup_path %></li>
				<li>|</li>
				<li><%= link_to "Sign In", signin_path %></li>
				<li>|</li>
				<% end %>
			</ul>
		</nav>
		<div class="center">#madeinswagland</div>
	</div>
</footer>
<% end %>