<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "ace", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/fonts' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container body">

	<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

	<%= yield %>

  <% if Rails.env.development? %>
    <% if controller.controller_name == "lessons" && controller.action_name == "show" %>
    <% else %><%= debug(params) %><% end %>
  <% end %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
